<div class="home-page">
  <h1>{{ title }}</h1>
  <div class="home-buttons">
    <div class="home-btn-signup">
      <p-button
        label="Signup"
        routerLink="signup"
        icon="pi pi-pencil"
        iconPos="right"
      ></p-button>
    </div>
    <p-divider layout="vertical">
      <b></b>
    </p-divider>
    <div class="home-btn-login">
      <p-button
        label="Login"
        routerLink="login"
        icon="pi pi-sign-in"
        iconPos="right"
      ></p-button>
    </div>
  </div>
  <div class="home-dashboard">
    Already logged? Let's jump in
    <p-button
      label="Dashboard"
      routerLink="../users"
    ></p-button>
  </div>
</div>
