<div class="home-page">
  <div class="home-btn-signup">
  <p-button label="Signup" routerLink="/signup" icon="pi pi-pencil"></p-button>
  </div>
  <!-- <a routerLink="/signup">Signup</a>-->
  <p-divider layout="vertical">
    <b></b>
  </p-divider>
  <div class="home-btn-login">
    <p-button label="Login" routerLink="/login" icon="pi pi-sign-in" iconPos="right"></p-button>
  </div>

</div>
<div class="home-dashboard">
  Already logged? Let's jump in
  <p-button label="Dashboard" routerLink="/dashboard" icon="" iconPos="right"></p-button>
</div>
