.home-page {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  max-height: 100vh;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn-signup,
.home-btn-login {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.home-dashboard{
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

:host ::ng-deep {
  .p-button {
    font-size: 1.5em;
    padding: 18px 36px;
  }
  .p-button-icon {
    font-size: 0.75em;
  }
  .p-button-icon-right {
    margin-left: 0.8rem;
  }
  .p-button-icon-left {
    margin-right: 0.8rem;
  }

  .p-divider-vertical {
    min-height: 60vh;
  }
  .p-divider .p-divider-content{
    padding: 1em .3em;
    background-color: var(--color-theme);
  }

  .p-divider.p-divider-vertical:before{
    border-left: 1.5px solid var(--color-theme);
  }


  .home-dashboard .p-button{
    font-size: 1em;
    padding: 8px 16px;
  }
}
