<div class="login">
  Already signup? Please login to proceed to the application

  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm)">
    <label for="user">Username:</label>
    <input type="text" name="user" id="user" placeholder="Username..." formControlName="user">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="Your email..." formControlName="email">
    <label for="email">Password:</label>
    <input type="password" name="password" id="password" placeholder="Your password..." formControlName="password">
  <button [disabled]="!loginForm.valid">Login</button>

  </form>
<button (click)="goHome()">Home</button>
</div>
