<div class="footer">
  <a href="https://github.com/brian-moretti" target="_blank"
    ><i
      class="pi pi-github"
      title="GitHub's profile"
      style="color: var(--color-theme)"
    ></i
  ></a>
  <span
    >Developed with
    <i class="pi pi-heart-fill" style="color: var(--color-dust-white)"></i> &
    <i class="pi pi-code" style="color: var(--color-dust-white)"></i> by
    <a [ngStyle]="{'color': 'var(--color-theme)', 'font-weight': 'bold'}" href="https://brian-moretti.github.io/" target="_blank"
      >Brian Moretti</a
    ></span
  >
</div>
