form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 85%;
  margin: 3% 10%;
  border-radius: 8px;
  padding: 5px 10px;
  /*   border: 1px solid var(--color-brown);
  box-shadow: 0.5px 0.5px 1px 0 var(--color-brown);
 */
}

textarea {
  width: 100%;
}

:host ::ng-deep {
  .p-inputtext {
    padding: 4px;
  }

  .p-button {
    padding: 16px;
    height: 30px;
    width: 30px;
  }

  .p-float-label.textarea {
    display: flex;
  }
}
