form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 75%;
  margin: 3% auto;
  border-radius: 8px;
  padding: 5px 10px;
}

textarea {
  width: 100%;
}

:host ::ng-deep .p-inputtext {
  padding: 4px;
}
:host ::ng-deep .p-button {
  padding: 16px;
  height: 30px;
  width: 30px;
}
:host ::ng-deep .p-float-label.textarea {
  display: flex;
}

@media only screen and (max-width: 600px) {
  form {
    margin: 8% auto;
    max-width: 85%;
  }

  .element-container {
    width: 100%;
  }
  :host ::ng-deep /*Campo testuale*/ .p-inputtext {
    width: 100%;
  }
  :host ::ng-deep /*Spazio elementeo*/ .p-float-label {
    width: 100%;
  }
  :host ::ng-deep .p-button {
    width: 100%;
  }
}
