<form #newCommentForm="ngForm" (ngSubmit)="form(newCommentForm)">
  <span class="p-float-label">
    <input pInputText id="name" [(ngModel)]="newComment.name" name="name" />
    <label htmlFor="name">Username</label>
  </span>
  <span class="p-float-label">
    <input
      pInputText
      id="email"
      [(ngModel)]="newComment.email"
      autocomplete="off"
      name="email"
    />
    <label htmlFor="email">Email</label>
  </span>
  <span class="p-float-label textarea">
    <textarea
      id="body"
      rows="1"
      cols="30"
      [(ngModel)]="newComment.body"
      name="body"
      pInputTextarea
    ></textarea>
    <label for="float-input">Comment</label>
  </span>
  <div class="element-container">
    <p-button
      type="submit"
      icon="pi pi-send"
      class="p-button-success comment-btn"
    ></p-button>
  </div>
</form>
