<app-sidebar-menu></app-sidebar-menu>
<div class="main-container">
  <div class="header-dashboard">
    <app-dashboard-header
      (filterData)="filterUsers($event)"
    ></app-dashboard-header>
    <div class="add-user">
      <p-button
        class="add-btn"
        styleClass="p-button-rounded p-button-text p-button-raised"
        icon="pi pi-user-plus"
        (click)="onClickAddUser()"
      ></p-button>
    </div>
  </div>

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="elementDisplayed"
    [rows]="resultPerPage"
    [totalRecords]="3000"
    [rowsPerPageOptions]="[10, 20, 50, 100]"
  ></p-paginator>

  <app-add-user
    (closeForm)="onClickAddUser()"
    (newUserTest)="addUser($event)"
    [hidden]="addNewUser"
  ></app-add-user>

  <p-messages
    [(value)]="message"
    [enableService]="false"
    [closable]="true"
  ></p-messages>

  <div class="users-container">
    <ng-container *ngFor="let user of users">
      <div class="user">
        <div class="details">
          <span class="user-id" [ngStyle]="{ 'font-size': '10px' }"
            ><i
              class="pi pi-circle-fill"
              [ngClass]="user.status === 'active' ? 'green' : 'red'"
            ></i>
            {{ user.id }}</span
          >
          <div class="user-info">
            <h2><i class="pi pi-user"></i>{{ user.name }}</h2>
            <p><i class="pi pi-envelope"></i>{{ user.email }}</p>
          </div>
        </div>
        <div class="buttons">
          <p-button
            class="edit-btn"
            styleClass="p-button-rounded p-button-raised"
            icon="pi pi-user-edit"
            [routerLink]="['/user-details', user.id]"
          ></p-button>
          <p-button
            class="delete-btn"
            styleClass="p-button-rounded"
            icon="pi pi-user-minus"
            (click)="removeUser(user.id!)"
          ></p-button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
