<app-sidebar-menu></app-sidebar-menu>
<div class="main-container">
  <div class="header-dashboard">
    <app-dashboard-header
      (filterData)="filterUsers($event)"
    ></app-dashboard-header>
    <p-button
      class="add-btn"
      styleClass="p-button-rounded p-button-text p-button-raised"
      icon="pi pi-user-plus"
      (click)="onClickAddUser()"
    ></p-button>
  </div>

  <p-dropdown
    (onChange)="usersShowedUpdate(userXPage)"
    [options]="numberOfUsers"
    [(ngModel)]="userXPage"
  ></p-dropdown>

  <app-add-user
    (prova)="onClickAddUser()"
    (newUserTest)="addUser($event)"
    [hidden]="test2"
  ></app-add-user>

  <!-- TODO: INSERTIRE SOPRA DENTRO IL CONTAINER SOTTO -->

  <div class="users-container">
    <ng-container *ngFor="let user of users">
      <div class="user">
        <div class="details">
          <span class="user-id" [ngStyle]="{ 'font-size': '10px' }"
            ><i
              class="pi pi-circle-fill"
              [ngClass]="user.status === 'active' ? 'green' : 'red'"
            ></i>
            {{ user.id }}</span
          >
          <div class="user-info">
            <h2 [ngStyle]="{ 'font-size': '20px' }">
              <i class="pi pi-user"></i>{{ user.name }}
            </h2>
            <p><i class="pi pi-envelope"></i>{{ user.email }}</p>
          </div>
        </div>
        <div class="buttons">
          <p-button
            class="edit-btn"
            styleClass="p-button-rounded p-button-raised"
            icon="pi pi-user-edit"
            [routerLink]="['/user-details', user.id]"
          ></p-button>
          <p-button
            class="delete-btn"
            styleClass="p-button-rounded"
            icon="pi pi-user-minus"
            (click)="removeUser(user.id!)"
          ></p-button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!--
  [ngStyle]="{
        margin: '3% 0 3% 15%',
        padding: '2%',
        border: '1px solid white',
        'max-width': '40%',
        position: 'relative'
      }"
     -->
<!-- TODO: INSERIRE PAGINAZIONE + POSSIBILITà DI SCEGLIERE QUANTI USER MOSTRARE --VEDERE PROGETTO "STORE"  -->
