.header-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

/*RIQUADRO PULSANTE ADD-USER*/

.users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.user {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-dust-white);
  color: var(--color-brown);
  display: flex;
  flex-basis: calc(50% - 14px);
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 3px 1px var(--color-brown);
  gap: 25px;
}

.user:last-child {
  margin-right: auto;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.details i {
  margin-right: 8px;
}

.user-id {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  word-break: break-all;
}

.user-info h2{
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

:host ::ng-deep {
  .edit-btn > * {
    background: var(--color-sand) /*#ece4d7*/;
    border: none;
  }

  .edit-btn > *:hover {
    background: var(--color-brown);
  }

  .delete-btn > * {
    background: /*#c8c0ab*/ #14b8a6;
    border: none;
  }

  .users-container .buttons .pi {
    font-size: 1.2rem;
  }

  .header-dashboard .add-btn .p-button {
    background: var(--color-theme);
    color: var(--color-dust-white);
  }
  .header-dashboard .add-btn .p-button:hover {
    background: #0d9488;
    color: var(--color-dust-white);
  }

  .header-dashboard .add-btn .p-button .pi {
    font-size: 1.2rem;
  }

  .p-paginator {
    width: fit-content;
    margin: 2% auto;
  }
}

@media only screen and (max-width: 1124px) {

  .header-dashboard {
    justify-content: center;
  }

  app-dashboard-header{
    margin: auto;
  }

  :host ::ng-deep {
    .header-dashboard p-button.p-element.add-btn {
      text-align: end;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header-dashboard {
    flex-direction: column-reverse;
    gap: 20px;
  }

.user-info h2{
  font-size: 18px;
}

.user-info p{
  font-weight: var(--font-light);
  font-size: 14px;
}

  :host ::ng-deep {
    .p-paginator {
      margin: 2% auto 6%;
    }
    .p-paginator .p-paginator-element {
      min-width: 1rem;
    }
    .p-paginator .p-paginator-pages > * {
      min-width: 2.5rem;
    }
  }
  .user {
    flex: auto;
  }
}
