.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto 30px auto;
}

.user-posts {
  box-shadow: 3px 3px 3px 1px var(--color-brown);
  border-radius: 8px;
  margin: 5% auto;
  padding: 15px;
  position: relative;
  color: var(--color-brown);
  background-color: var(--color-dust-white);
}

.user-posts > h4 {
  color: var(--color-theme);
}

.post-info {
  margin: 5% auto;
  border-left: 1px solid var(--color-theme);
  max-width: 90%;
  padding: 10px 30px;
  position: relative;
}

.post-info .id{
  font-weight: var(--font-semi-bold);
  font-size: 12px;
  text-decoration: underline;
}

.comment-info {
  margin: 2% auto;
  max-width: 75%;
  position: relative;
}

.comment-info .comment {
  position: absolute;
  top: 50%;
  left: -3%;
  transform: translate(-50%, -50%);
}

.adding-post {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.remove-comment {
  position: absolute;
  top: 50%;
  right: -2%;
  transform: translate(0, -50%);
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: var(--color5);
}

.remove-comment .pi-trash {
  font-size: 18px;
}

.remove-post {
  background-color: inherit;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 6px;
  background-color: var(--color5);
  box-shadow: 3px 3px 3px 1px var(--color-brown);
  color: var(--color-dust-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 3;
}

.remove-post .pi-trash {
  font-size: 1.5rem;
}

.space {
  margin: 15px 0;
  padding: 15px;
}

@media only screen and (max-width: 1124px) {
  .header {
    margin: 7% auto 15%;
    gap: 30px;
  }
  .comment-info {
    margin-top: 3%;
    max-width: 75%;
  }

  .comment-info .comment {
    left: -5%;
  }

  .remove-comment {
    right: -20%;
  }
}

@media only screen and (max-width: 600px) {
  app-filter-posts {
    margin-top: 15%;
  }

  .header {
    flex-direction: column;
    gap: 20px;
  }

  .user-posts {
    margin: 15% auto;
  }

  .post-info {
    margin-bottom: 10%;
    padding: 10px;
  }

  .post-info h4,
  .post-info p {
    padding-left: 15px;
  }

  .comment-info {
    margin-top: 6%;
  }

  .comment-info h4,
  .comment-info p {
    padding: 0 5%;
    word-wrap: break-word;
    margin-bottom: 2%;
  }

  .comment-info .comment {
    left: -10%;
  }

  .remove-post .pi-trash {
    font-size: 1rem;
  }

  :host ::ng-deep .p-paginator {
    margin: 2% auto 6%;
  }
  :host ::ng-deep .p-paginator .p-paginator-element {
    min-width: 1rem;
  }
  :host ::ng-deep .p-paginator .p-paginator-pages > * {
    min-width: 2.5rem;
  }
}
