<app-sidebar-menu></app-sidebar-menu>
<main class="main-container">
  <div class="header">
    <app-filter-posts (filterData)="filterPost($event)"></app-filter-posts>

    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="elementDisplayed"
      [rows]="resultPerPage"
      [totalRecords]="2725"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
    ></p-paginator>
  </div>

  <p-messages
    [(value)]="message"
    [enableService]="false"
    [closable]="true"
  ></p-messages>

  <ng-container *ngFor="let info of userInfo">
    <ng-container *ngIf="info; else noInfo">
      <section class="user-posts">
        <h4>ID: {{ info }}</h4>
        <app-add-post
          [hidden]="expandedNewPostId != info"
          (formInfo)="addUserPost(info, $event)"
        ></app-add-post>
        <p-button
          class="adding-post"
          (onClick)="showNewPostForm(info)"
          [icon]="expandedNewPostId !== info ? 'pi pi-plus' : 'pi pi-minus'"
        ></p-button>

        <div *ngIf="userPosts(info).length; else noPost">
          <ng-container *ngFor="let post of userPosts(info)">
            <div class="post-info">
              <h4>{{ post.title }}</h4>
              <p>{{ post.body }}</p>
              <ng-container *ngFor="let comment of postComments(post.id)">
                <div class="comment-info">
                  <span class="comment"><i class="pi pi-comment"></i></span>
                  <div class="element-container">
                    <h4>{{ comment.name }} - {{ comment.email }}</h4>
                    <p>{{ comment.body }}</p>
                  </div>
                  <button
                    class="remove-comment"
                    (click)="removeComment(comment.id!)"
                  >
                    <i class="pi pi-trash"></i>
                  </button>
                </div>
              </ng-container>
              <app-add-comment
                (comment)="addComment(post.id!, $event)"
              ></app-add-comment>
              <button (click)="removePost(post.id)" class="remove-post">
                <i class="pi pi-trash"></i>
              </button>
            </div>
          </ng-container>
        </div>
      </section>
    </ng-container>
  </ng-container>
</main>

<ng-template #noInfo>
  <p>This user has been deleted. Informations are not available</p>
</ng-template>
<ng-template #noPost>
  <p>For this user, 0 posts has been found</p>
</ng-template>
