.user-profile {
  margin: 20px auto;
  width: 40%;
  background-color: var(--color-dust-white);
  box-shadow: 3px 3px 3px 0 var(--color-brown);
  color: var(--color-brown);
  padding: 16px 24px;
  border-radius: 10px;
  word-wrap: break-word;
  position: relative;
}

.user-name {
  font-size: 0.95rem;
}

.user-email {
  font-size: 0.8rem;
  font-weight: var(--font-regular);
}

.gender-profile {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.pi {
  margin-right: 8px;
}

.post-info {
  margin: 15px auto;
  max-width: 90%;
  padding: 10px 30px;
  border-left: 1px solid var(--color-theme);
}

.post-info h6,
p {
  font-weight: var(--font-light);
}

.comment-info {
  margin: 15px auto;
  max-width: 70%;
  position: relative;
}

.comment-info h6 {
  font-weight: var(--font-light);
}

.comment-info .comment {
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translate(-50%, -50%);
  color: var(--color-theme);
}

.adding-post {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(50%, -50%);
}

.nothing {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 2px 25px;
  border-radius: 8px;
  border: 2px solid var(--color-theme);
  box-shadow: 0 0 5px 1px var(--color-light-theme);
}

:host ::ng-deep .p-tabview {
  max-width: calc(100% - 200px);
  margin: 0 auto;
}
:host ::ng-deep .p-tabview-nav {
  gap: 1px;
}
:host ::ng-deep .p-tabview .p-tabview-nav {
  background: var(--color-light-beige);
}
:host ::ng-deep .p-tabview-panels {
  position: relative;
  background: var(--color-dust-white);
  box-shadow: 3px 3px 3px 1px var(--color-brown);
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: var(--color-dust-white);
}

@media only screen and (max-width: 1124px) {
  .user-profile {
    width: 60%;
    margin-bottom: 40px;
  }

  :host ::ng-deep .p-tabview {
    max-width: calc(100% - 100px);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .user-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
  }

  .user-name {
    font-size: 0.8rem;
  }

  .user-email {
    font-size: 0.7rem;
  }
  .post-info {
    margin: 5px auto;
    padding: 10px;
  }

  .comment-info {
    max-width: 75%;
  }

  .comment-info .comment {
    left: -5%;
  }

  .gender-profile {
    top: 0;
    transform: translate(20%, -25%);
  }

  .nothing {
    margin-top: 8%;
    width: 90%;
    text-align: center;
  }

  :host ::ng-deep .p-tabview {
    max-width: 95%;
  }
  :host ::ng-deep .p-tabview-panels {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
