<app-sidebar-menu></app-sidebar-menu>
<main class="main-container">
  <p-messages
    [(value)]="message"
    [enableService]="false"
    [closable]="true"
  ></p-messages>
  <ng-container *ngIf="profile">
    <section class="user-profile">
      <div class="user-id">
        <i
          class="pi pi-circle-fill"
          [ngClass]="profile.status === 'active' ? 'green' : 'red'"
        ></i
        ><span class="user-id" [ngStyle]="{ 'font-size': '10px' }">{{
          profile.id
        }}</span>
      </div>
      <div class="user-name">
        <h3><i class="pi pi-user"></i>{{ profile.name }}</h3>
      </div>
      <div class="user-email">
        <p><i class="pi pi-envelope"></i>{{ profile.email }}</p>
      </div>
      <img
        class="gender-profile"
        [src]="
          profile.gender === 'male'
            ? 'assets/icons/mars.png'
            : 'assets/icons/femenine.png'
        "
        alt="gender profile image"
        width="35px"
      />
    </section>

    <section class="user-content">
      <p-tabView>
        <app-add-post
          [hidden]="hidden"
          (formInfo)="addUserPost($event)"
        ></app-add-post>
        <p-tabPanel header="Posts">
          <p-button
            [disabled]="posts.length ? false : true"
            class="adding-post"
            (onClick)="showNewPostForm()"
            [icon]="hidden ? 'pi pi-plus' : 'pi pi-minus'"
          ></p-button>
          <ng-container *ngIf="posts?.length; else noPost">
            <ng-container *ngFor="let post of posts; index as i">
              <div class="post-info">
                <h6>Post n. {{ post.id }}</h6>
                <h3>{{ post.title }}</h3>
                <p>{{ post.body }}</p>
              </div>
              <ng-container
                *ngIf="postComments(post.id).length; else noComment"
              >
                <ng-container *ngFor="let comment of postComments(post.id)">
                  <div class="comment-info">
                    <span class="comment"><i class="pi pi-comment"></i></span>
                    <h6>{{ comment.name }} - {{ comment.email }}</h6>
                    <h3>{{ comment.body }}</h3>
                  </div>
                </ng-container>
              </ng-container>
              <app-add-comment
                (comment)="addComment(post.id!, $event)"
              ></app-add-comment>
            </ng-container>
          </ng-container>
        </p-tabPanel>
      </p-tabView>
    </section>

    <ng-template #noPost>
      <p class="nothing">For this User, 0 posts has been found</p>
      <app-add-post (formInfo)="addUserPost($event)"></app-add-post>
    </ng-template>
    <ng-template #noComment>
      <p class="nothing">For this user, 0 comments has been found</p>
    </ng-template>
  </ng-container>
</main>
