form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid red;
  border-radius: 8px;
  padding: 10px;
}

textarea{
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  margin: 0;
}
