form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 90%;
  margin: 1% auto 2%;
  border-radius: 8px;
  padding: 10px;
}

:host ::ng-deep{
  .p-float-label.textarea {
    display: flex;
  }

  .p-float-label.textarea label{
    margin: auto;
  }
}