.signup {
  padding: 3em 0;
}

:host ::ng-deep .p-password, :host ::ng-deep .p-button, :host ::ng-deep .p-inputtext {
  width: 100%;
}

:host ::ng-deep .p-fieldset {
  margin-top: 15px;
}
:host ::ng-deep .p-fieldset-legend {
  margin-left: 10px;
}
:host ::ng-deep .p-fieldset-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
:host ::ng-deep .p-fieldset-content label {
  margin-left: 10px;
}
:host ::ng-deep .home-form .p-button {
  margin-top: 16px;
}
:host ::ng-deep .p-button-icon-only {
  position: absolute;
  top: 2.5%;
  left: 5%;
  width: 3rem;
}

@media only screen and (max-width: 800px) {
  .home-form {
    width: 100%;
  }

  .signup-container h3 {
    text-align: center;
  }

  .registration {
    flex-direction: column;
  }
}
