.signup {
  padding: 3em 0;
}

:host ::ng-deep {
  .p-password {
    width: 100%;
  }
  .p-component {
    width: 100%;
    /* !ATTENZIONE CHE LO APPLICA A TUTTI GLI ELEMENTI */
  }

  .p-fieldset {
    margin-top: 15px;
  }

  .p-fieldset-legend {
    margin-left: 10px;
  }

  .p-fieldset-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .p-fieldset-content label {
    margin-left: 10px;
  }

  .home-form .p-button {
    margin-top: 16px;
  }

  .p-button-icon-only {
    position: absolute;
    top: 2.5%;
    left: 5%;
    width: 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .home-form {
    width: 100%;
  }

  .signup-container h3 {
    text-align: center;
  }

  .registration {
    flex-direction: column;
  }
}
