/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap");

:root {
  --color: rgb(129, 199, 132);
  --color5: rgb(244, 112, 103);
  --color-theme: #14b8a6;
  --color-light-theme: #99f6e4;
  --color-beige: rgb(148, 120, 83);
  --color-brown: rgb(127, 86, 57);
  --color-light-beige: rgb(229, 217, 205);
  --color-dust-white: rgb(243, 244, 241);
  --color-sand: #cbbba3;
  --font-family: "Prompt", sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

body {
  background-color: var(--color-light-beige) /*#F9F5F0*/;
  width: calc(100%);
}

a {
  text-decoration: none;
  color: inherit;
}

/** HOME */

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--color-brown);
}

.home-page {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.home-btn-signup,
.home-btn-login {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.home-dashboard {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--color-brown);
}

/** SIGNUP & LOGIN */

.signup,
.login {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.signup-container,
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.signup-container h3,
.login-container h3 {
  color: var(--color-brown);
  border-bottom: 1.5px solid var(--color-brown);
}

.home-form {
  display: flex;
  flex-direction: column;
  padding: 10px 35px;
  margin: 0 auto;
  padding: 3%;
  width: 50%;
  box-shadow: 3px 3px 3px 1px var(--color-brown);
  border-radius: 8px;
  background-color: var(--color-dust-white);
}

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  margin-top: 1.5%;
  color: var(--color-brown);
  font-weight: 600;
}

/** CONTAINER COMPONENTS */

.main-container {
  width: calc(100% - 200px);
  margin-left: 200px;
  padding: 25px 50px;
}

@media only screen and (max-width: 1124px) {
  .main-container {
    margin-left: 0;
    width: 100%;
    padding: 25px;
  }
}

.green {
  color: var(--color);
  animation: lighter 1s linear infinite alternate;
}

.red {
  color: var(--color5);
}

.error {
  border: 1px solid var(--color-dust-white);
  padding: 3px 8px;
  border-radius: 8px;
  color: var(--color-dust-white);
  background-color: var(--color-sand);
  box-shadow: 3px 3px 3px 1px var(--color-dust-white);
}

/** FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer span {
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-light-beige);
  font-weight: var(--font-light);
}

.footer span .pi {
  font-size: 0.8rem;
}