.add-user{
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  margin: 0 auto;
  padding: 5%;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.close{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close .pi{
  font-size: 1.5rem;
  color: var(--color-brown);
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  padding: 5%;
  border: 3px solid var(--color-theme);
  box-shadow: 0 0 3px 2px var(--color-theme);
  border-radius: 12px;
  position: relative;
  background-color: var(--color-dust-white);
}


.gender{
  display: flex;
  justify-content: space-between;
}

.gender label{
  margin-left: 5px;
}

:host ::ng-deep{
  .p-selectbutton div{
    width: 50%;
  }

  .p-button{
    width: 100%;
  }
}